{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <h2>{{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ pub_date }}</p>
            </div>
            {% endfor %}
        </div>
        <br><br><br>
        <div>
             {% if pre_date %}
                 <a href="/books/{{ pre_date }}/">< {{ pre_date }}</a>
             {% endif %}
             <span style="color: grey"> {{ pub_date }} </span>
             {% if next_date %}
                 <a href="/books/{{ next_date }}/">{{ next_date }} ></a>
             {% endif %}
        </div>
    </div>
{% endblock %}